/* Tablet */
@media (max-width:768px) {
    
}

/* mobile */ 
@media (max-width:480px) {
    /* Header */
    header {
        display: flex;
        flex-direction: column;
    }
 
    /* main */
    main {
        padding: 15px;
        align-self: center;
    }
    body .container_main_page {
        height: 0%;
        display: flex;
        flex-direction: column;
    }
    .container_main_page  main {
    display: flex;
    height: fit-content;
    flex-direction: column;
    }
    /* main books container */
    main .readBooks___ {
        width: 100%;
    }
    main #readBooks {
        grid-template-columns: auto;
    }
    main #unReadBooks {
        grid-template-columns: auto;
    }
    main .container {
        align-self: center;
    }
    main .container_books_ {
        align-self: center;
        width: 98%;
        padding-bottom: 50px;
        overflow: visible;
    }
    /* btn books */

    main .btn_books {
        width: 44px;
        height: 118px;
        background-color: #283739;
        color: #F7EEBB;
        border: none;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        padding-left: 0%;
        border-radius: 18px;
    }


    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

   
}
@media (max-width:349px) {
   
}