/* Tablet */
@media (max-width:768px) {
    
}

/* mobile */ 
@media (max-width:480px) {
    /* Header */
    header {
        display: flex;
        flex-direction: column;
    }

    /* main */
    main {
        padding: 1px;
    }
    main {
        align-self: center;

    }
    body .container_main_page {
        height: 0%;
        display: flex;
        flex-direction: column;
    }
    .container_main_page  main {
    display: flex;
    flex-direction: column;
    }
    /* main books container */
    main .readBooks___ {
        width: 100%;
    }
    main #readBooks {
        grid-template-columns: auto;
    }
    main #unReadBooks {
        grid-template-columns: auto;
    }
    main .container {
        align-self: center;
    }
    main .container_books_ {
        align-self: center;
    }
    /* btn books */


    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

   
}
@media (max-width:349px) {
   
}